[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"

[packages]
requests = "*"
datetime = "*"
argparse = "*"
validators = "*"
s2sphere = "*"
python-csv = "*"
influx-line-protocol = "*"
