[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
argparse = "*"
validators = "*"
influx-line-protocol = "*"

[requires]
python_version = "3.8"
